p {
    width: 100%;

}

.Word {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    /*user-select: none;*/
}


.Word-open {
    background-color: lightblue;
    border-radius: 0.5rem;
}

.Flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Space-between {
    justify-content: space-between;
}